Source: opengm
Section: science
Priority: extra
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Ghislain Antony Vaillant <ghisvail@gmail.com>
Build-Depends: cmake,
               debhelper (>=9),
               dh-python,
               libboost-dev,
               libboost-graph-dev,
               libboost-python-dev,
               libhdf5-dev,
               libvigraimpex-dev,
               python,
               python-nose,
               python-numpy
Build-Depends-Indep: doxygen,
                     graphviz,
                     python-sphinx
Standards-Version: 3.9.6
Homepage: http://hci.iwr.uni-heidelberg.de/opengm2/
Vcs-Git: git://anonscm.debian.org/debian-science/packages/clblas.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/clblas.git
X-Python-Version: >= 2.6

Package: libopengm-bin
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Commandline interface to OpenGM
 OpenGM is a C++ template library for discrete factor graph models and
 distributive operations on these models.
 .
 It includes state-of-the-art optimization and inference algorithms beyond
 message passing. OpenGM handles large models efficiently, is modular and
 extendible. The graphical model data structure, inference algorithms and
 different encodings of functions inter-operate through well-defined
 interfaces. The binary OpenGM file format is based on the HDF5 standard and
 incorporates user extensions automatically.
 .
 This package contains the commandline interface to the OpenGM library.

Package: libopengm-dev
Section: libdevel
Architecture: all
Depends: ${misc:Depends}
Suggests: libopengm-doc
Description: C++ template library for discrete factor graph models
 OpenGM is a C++ template library for discrete factor graph models and
 distributive operations on these models.
 .
 It includes state-of-the-art optimization and inference algorithms beyond
 message passing. OpenGM handles large models efficiently, is modular and
 extendible. The graphical model data structure, inference algorithms and
 different encodings of functions inter-operate through well-defined
 interfaces. The binary OpenGM file format is based on the HDF5 standard and
 incorporates user extensions automatically.
 .
 This package contains the development headers for the OpenGM library.

Package: libopengm-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: API documentation for OpenGM
 OpenGM is a C++ template library for discrete factor graph models and
 distributive operations on these models.
 .
 It includes state-of-the-art optimization and inference algorithms beyond
 message passing. OpenGM handles large models efficiently, is modular and
 extendible. The graphical model data structure, inference algorithms and
 different encodings of functions inter-operate through well-defined
 interfaces. The binary OpenGM file format is based on the HDF5 standard and
 incorporates user extensions automatically.
 .
 This package contains the API documentation for the OpenGM library.

Package: opengm-converters
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Converters for the OpenGM data format
 OpenGM is a C++ template library for discrete factor graph models and
 distributive operations on these models.
 .
 It includes state-of-the-art optimization and inference algorithms beyond
 message passing. OpenGM handles large models efficiently, is modular and
 extendible. The graphical model data structure, inference algorithms and
 different encodings of functions inter-operate through well-defined
 interfaces. The binary OpenGM file format is based on the HDF5 standard and
 incorporates user extensions automatically.
 .
 This package contains the converters for the OpenGM data format.

Package: python-opengm
Section: python
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Suggests: python-opengm-doc
Description: Python interface to OpenGM
 OpenGM is a C++ template library for discrete factor graph models and
 distributive operations on these models.
 .
 It includes state-of-the-art optimization and inference algorithms beyond
 message passing. OpenGM handles large models efficiently, is modular and
 extendible. The graphical model data structure, inference algorithms and
 different encodings of functions inter-operate through well-defined
 interfaces. The binary OpenGM file format is based on the HDF5 standard and
 incorporates user extensions automatically.
 .
 This package contains the Python interface to the OpenGM library.

Package: python-opengm-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
         ${sphinxdoc:Depends}
Description: Python interface to OpenGM (documentation)
 OpenGM is a C++ template library for discrete factor graph models and
 distributive operations on these models.
 .
 It includes state-of-the-art optimization and inference algorithms beyond
 message passing. OpenGM handles large models efficiently, is modular and
 extendible. The graphical model data structure, inference algorithms and
 different encodings of functions inter-operate through well-defined
 interfaces. The binary OpenGM file format is based on the HDF5 standard and
 incorporates user extensions automatically.
 .
 This package contains the documentation for the Python interface to the
 OpenGM library.
